.wp-block{
  max-width:100%;
}


/* EDITOR OVERRIDES */

// Make the sidebar wider
@media (min-width: 782px){

  .edit-post-layout.is-sidebar-opened 
  .edit-post-plugin-sidebar__sidebar-layout, 
  .edit-post-layout.is-sidebar-opened .edit-post-sidebar{
    width: 380px;
  }
  
  .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
    margin-right: 380px;
  }

}
