.blk--banner{
  .blk__inner{
    max-width: 100%;
  }
}

.banner{
  width: 100%;
  position: relative;
}

.banner__image{
  margin: 0;
  padding: 0;
  display: block;
  position: relative;

  @include fluid-aspect(1920 600, 'img');

  img{
    width: 100%;
    height: auto;
  }
}

.banner__content{
  position: absolute;
  bottom: 0px;
  right:0px;
}

