$blkWidth : 1200px;
$blkSpacing : 40px;

@import 'mixins/fluid-aspect';

section{
  &.blk{
    width:100%;
    display:block;
    position:relative;
    + .blk {
      margin-top: $blkSpacing;
    }
  }
}


.blk{

  font-size: 16px;
  font-family: Arial, sans-serif;

  a{
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    &:focus,
    &:active{
      color: inherit;
    }
  }

  p{
    font-size: inherit;
    font-family: inherit;
  }

  ul{
    list-style:none;
    padding:0;
  }

  .texts{
    p{
      margin:0;
    }

  }

}

.blk__inner{
  width: 100%;
  max-width: $blkWidth;
  margin: 0 auto;   
}