section{
  &.blk--herobanner{
    .blk__inner{
      max-width: 100%;
    }  
  }
}



.herobanner{
  display:block;
  width:100%;
  .slides{
    display:block;
    width:100%;
  }

  picture{
    margin:0;
    padding:0;
    display:block;
    background-color: silver;
    @include fluid-aspect(1920 600, 'img');
    img{
      width:100%;
      height:auto;
    }
  }

  .slide{
    position:relative;
  }
  .slide__image{

  }
  .slide__content{
    position:absolute;
    bottom:0px;
    right:0px;

    font-size:3em;
  }
}