.tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tiles__item{
  width:50%;
  flex-grow: 1;

  position: relative;
}

.tile__image{
  margin:0;
  display:block;
  background-color: silver;
  @include fluid-aspect(600 600, 'img');
  img{
    width:100%;
    height:auto;
    display:block;
  }
}

.tile__content{
  position: absolute;
  bottom: 0px;
  right:0px;
}