.site-footer{

  nav{
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      li {
      
      }
    }
  }


  .site-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

}